<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
    <meta name="buildTime" content="2026-02-07 11:03:58">
    <meta charset="UTF-8" />
    <link rel="icon" href="/static/admin-center/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>DoraCMSAdmin</title>
    <script type="module" crossorigin src="/static/admin-center/assets/index-X-yrm3yF.js"></script>
    <link rel="stylesheet" crossorigin href="/static/admin-center/assets/index-5qy9ijVb.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
