<!--用户注册模块-->
<div class="login-box" ms-controller="regAction">
    <form name="loginForm" ms-validate="@validate">
        <h3 class="title">
            <span>{{__('lc_newAccount')}}</span>
        </h3>
        <small style="display:block" class="text-danger text-center" :visible="@showErr" ms-html="@message"></small>

        <div class="form-group">
            <label for="">{{__('lc_userName')}}</label>
            <input type="text" class="form-control" name="userName" ms-duplex="@userName"
                placeholder="{{__('lc_basic_pl_username')}}"
                ms-rules="{required:true, pattern: /^[a-zA-Z][a-zA-Z0-9_]{4,11}$/ }"
                data-required-message="{{__('validate_inputNull',[__('lc_userName')])}}"
                data-message="{{__('validate_rangelength',[__('lc_userName'),5,12])}}">
        </div>
        <div class="form-group">
            <label for="">{{__('lc_email')}}</label>
            <input type="email" class="form-control" name="email" ms-duplex="@email"
                placeholder="{{__('lc_write_email')}}"
                ms-rules="{required:true, pattern: /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/ }"
                data-required-message="{{__('validate_inputNull',[__('lc_email')])}}"
                data-message="{{__('validate_inputCorrect',[__('lc_email')])}}">
        </div>
        <div class="form-group">
            <label for="">{{__('label_user_imageCode')}}</label>
            <div class="input-group">
                <input type="text" class="form-control" name="messageCode" ms-duplex="@messageCode"
                    placeholder="{{__('label_user_imageCode')}}"
                    ms-rules="{required:true,maxlength:6,minlength:6,number:true }"
                    data-required-message="{{__('validate_inputNull',[__('label_user_imageCode')])}}"
                    data-message="{{__('validate_inputCorrect',[__('label_user_imageCode')])}}">
                <span class="input-group-btn"><button ms-on-click="@sendMsgCode"
                        class="btn btn-default vCodeBtn">发送验证码</button></span>
            </div>
        </div>
        <div class="form-group">
            <label for="">{{__('lc_password')}}</label>
            <input type="password" class="form-control" id="pw" name="password"
                placeholder="{{__('lc_write_password')}}" ms-duplex="@password"
                ms-rules="{required: true,pattern: /(?!^\\d+$)(?!^[a-zA-Z]+$)(?!^[_#@]+$).{5,}/}"
                data-required-message="{{__('validate_inputNull',[__('lc_password')])}}">
        </div>
        <div class="form-group">
            <label for="">{{__('lc_repassword')}}</label>
            <input type="password" class="form-control" name="confirmPassword"
                placeholder="{{__('lc_write_re_password')}}" ms-duplex="@confirmPassword  | change"
                ms-rules="{required: true,,equalto:'pw'}"
                data-required-message="{{__('validate_inputNull',[__('lc_repassword')])}}"
                data-message="{{__('validate_passwordnotmatching')}}">
        </div>
        <div class="sub-btns" id="ul-s5">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">{{__('user_action_type_register')}}</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
</script>