{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.html", "*.njk", "*.nunjucks"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore",
        "printWidth": 120,
        "tabWidth": 2
      }
    }
  ]
}
