{
 "semi": true,
 "singleQuote": true,
 "proseWrap": "preserve",
 "tabWidth": 2,
 "trailingComma:": "none",
 "bracketSpacing": true,
 "brace-style": [1, "1tbs"],
 "spaced-comment": 0,
 "eslintIntegration": true
}
