{% extends "../default.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 main-container">
            <div class="row">
                <div class="col-md-8 left-frame">
                    <div class="column-wrap">
                        <h1 alt="{{site.altkey}}{{targetSearchKey}}">{{list_title}}</h1>
                    </div>
                    {% include "../public/itemListTemp.html" %}
                </div>
                <div class="col-md-4 right-frame">
                    {% include "../public/cateList.html" %} {% include "../public/hotNewsList.html" %} {% include "../public/reCommendList.html"
                    %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}