<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/user-center/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Center</title>
    <script type="module" crossorigin src="/static/user-center/assets/js/index-236e3983.js"></script>
    <link rel="modulepreload" crossorigin href="/static/user-center/assets/js/vue-acf51e33.js">
    <link rel="modulepreload" crossorigin href="/static/user-center/assets/js/elementPlus-88b5a5ca.js">
    <link rel="modulepreload" crossorigin href="/static/user-center/assets/js/vendor-354b2dae.js">
    <link rel="stylesheet" href="/static/user-center/assets/css/index-c9dff209.css">
  </head>
  <body>
    <input type="hidden" id="tokenId" value="{{ tokenId }}" />
    <div id="app"></div>
    
  </body>
</html>
