html,
body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color: #333333;
    line-height: 1.8;
    background: #f5f5f5;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif;
}

.fade-enter-active,
.fade-leave-active {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #409EFF;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #657b83;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: auto;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

input,
textarea {
    border-radius: 0 !important;
}

.el-dropdown-menu li {
    font-size: 14px;
}

.prop-wechat {
    text-align: center;
}

.prop-wechat h5 {
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 0;
}

.prop-wechat img {
    width: 10rem;
    height: 10rem;
}

.pannel-box {
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
}

.pannel-title {
    margin: 0 0 10px;
    padding: 1px 0 1px 7px;
    font-size: 16px;
    font-weight: normal;
    border-left: 3px solid #3ca5f6;
}

.pannel-footer {
    clear: both;
}

.drop-menu {
    width: 96%;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.header .header-main {
    margin: 0 auto;
    overflow: hidden;
}

.header .header-main .header-logo a {
    text-decoration: none;
    color: #333333;
    height: 62px;
    display: table-cell;
    vertical-align: middle;
}

.header .header-main .header-logo img {
    max-height: 38px;
    width: auto;
    margin-top: 8px;
}

.header .header-main .header-nav {
    font-size: 15px;
    float: left;
    width: 100%;
}

.header .header-main .header-nav .el-dropdown {
    font-size: 15px;
    color: #333333;
}

.header .header-main .header-nav ul li {
    display: inline-block;
}

.header .header-main .header-nav ul li a {
    padding: 0 20px;
    line-height: 62px;
    color: #333333;
}

.header .header-main .header-nav ul li.active a:link,
.header .header-main .header-nav ul li.active a:visited {
    color: #409EFF;
}

.header .header-main .right-pannel {
    margin-top: 10px;
}

.header .toggle-menu,
.header .toggle-search {
    color: #aaaaaa;
    font-size: 18px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: none;
    margin-top: 0.4rem;
}

.header .toggle-search {
    float: right;
}

.login-pannel {
    float: right;
    text-align: right;
}

.login-pannel ul li {
    cursor: pointer;
    color: #409EFF;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-size: 14px;
}

.login-pannel ul li i {
    font-size: 12px;
}

.login-pannel ul li .logo {
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.login-pannel ul li .logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.login-pannel ul .login-txt a:first-child {
    margin-right: 10px;
}

.login-pannel ul .login-add {
    margin-left: 10px;
}

.search-pannel {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    text-align: right;
}

.search-pannel .input-area {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 30px;
    background: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.search-pannel .input-area i {
    display: inline-block;
    cursor: pointer;
    font-weight: 700px;
    color: #cccccc;
    position: absolute;
    top: 5px;
    right: 14px;
    font-size: 20px;
}

.search-pannel .input-area input {
    border: none;
    width: 0;
}

.search-pannel .input-area.active {
    width: 184px;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.search-pannel .input-area.active input {
    width: 155px;
    padding: 0 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.search-pannel .el-form-item {
    margin-bottom: 0;
}

.footer {
    font-size: 14px;
    padding: 35px 0;
    color: #5f676f;
    background: #2d3237;
}

.footer ul li {
    text-align: center;
    line-height: 35px;
    padding: 0 10px;
}

.footer ul li a:link,
.footer ul li a:visited {
    color: #76818c;
}

.page-component-up {
    background-color: #fff;
    position: fixed;
    right: 30px;
    bottom: 150px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
}

.page-component-up i {
    color: #409EFF;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}

.catesMenu {
    font-size: 14px;
}

.catesMenu .parent-name {
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    margin-top: 15px;
}

.catesMenu .cate-list {
    padding-left: 40px;
}

.catesMenu .cate-list .active a:link,
.catesMenu .cate-list .active a:visited {
    color: #3ca5f6;
}

.catesMenu .cate-list li {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
}

.content-ads .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    margin: 0;
}

.content-ads .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.content-ads .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
}

.content-ads .img-pannel img {
    width: 100%;
}

.content-ads .text-pannel ul li {
    display: inline-block;
    margin-right: 10px;
}

.content-ads .case-title {
    color: #b4bccc;
    margin: 15px auto;
    font-size: 13px;
}

.content-ads .case-item {
    margin-bottom: 20px;
}

.hot-content-list .content-list {
    text-align: left;
}

.hot-content-list .content-list ul li {
    font-size: 14px;
    padding: 0 0 0.75rem 1rem;
    position: relative;
}

.hot-content-list .content-list ul li .triangle {
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff #fff #fff #cccccc;
    -webkit-transform-origin: 25% center;
    -ms-transform-origin: 25% center;
    transform-origin: 25% center;
    border-width: 4px;
}

.hot-content-list .content-list ul li .con {
    -webkit-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

.hot-content-list .content-list ul li .con .title {
    display: block;
}

.hot-content-list .content-list ul li .con .time {
    padding-top: 3px;
    display: inline-block;
    color: #a4abb1;
}

.hot-content-list .content-list ul li .con a:link,
.hot-content-list .content-list ul li .con a:visited {
    color: #666666;
}

.hot-content-list .content-list ul li .con a:hover {
    color: #409EFF;
}

.rec-content-list .content-list {
    text-align: left;
    padding-top: 5px;
}

.rec-content-list .content-list .hot-li {
    margin: 0 0 10px;
    display: inline-block;
}

.rec-content-list .content-list .hot-li .contentImg {
    height: 4.7rem;
    display: block;
}

.rec-content-list .content-list .hot-li .contentImg img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.rec-content-list .content-list .hot-li .title {
    font-size: 12px;
    word-break: break-all;
    line-height: 16px;
    display: inline-block;
    height: 45px;
    vertical-align: text-top;
}

.content-message,
.content-message-list {
    padding: 0 !important;
}

.content-message h3,
.content-message-list h3 {
    padding: 0;
    border: none;
    font-size: 18px;
    margin: 30px 0 20px;
    font-weight: 500;
}

.content-message .give-message .el-form-item {
    margin-bottom: 0;
}

.content-message .give-message .el-form-item__content {
    margin-left: 0 !important;
}

.content-message .give-message .el-textarea__inner {
    border-color: #efefef !important;
    border-bottom-color: #f5f5f5 !important;
    border-width: 1px !important;
}

.content-message .give-message .el-form-item__error {
    padding-top: 20px;
    text-align: right;
    right: 100px;
}

.content-message .give-message .user-notice {
    float: left;
    font-size: 13px;
}

.content-message .give-message .user-notice a:link,
.content-message .give-message .user-notice a:visited {
    color: #409EFF;
}

.content-message .give-message .send-button {
    padding: 5px 15px;
    text-align: right;
    background: #fbfbfb;
    border: 1px solid #efefef;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}

.content-message-list ul li {
    border-top: 1px solid #efefef;
    padding: 15px 0 24px;
    font-size: 14px;
}

.content-message-list ul li .user-logo img {
    width: 82%;
    min-height: 2rem;
    border-radius: 50%;
}

.content-message-list ul li .user-content {
    position: relative;
    color: #666666;
    padding-left: 15px;
    word-break: break-all;
}

.content-message-list ul li .user-content .reply {
    position: absolute;
    display: none;
    bottom: -20px;
    right: 0;
}

.content-message-list ul li .reply-message {
    margin-top: 30px;
    padding-left: 25px;
}

.content-message-list ul li .reply-message .el-form-item {
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: right;
}

.content-message-list ul li .reply-message .el-form-item .el-form-item__error {
    right: 100px;
    padding-top: 20px;
}

.content-message-list ul li .user-name {
    margin: 0px 0 0px 15px;
    color: #409EFF;
}

.content-message-list ul li .user-name .name {
    display: inline-block;
}

.content-message-list ul li .user-name .time {
    font-size: 11px;
    display: inline-block;
    color: #777;
}

.content-message-list ul li:hover {
    margin: 0 -30px;
    padding: 15px 30px 24px;
    background: #fafafa;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.content-message-list ul li:hover .reply {
    display: block;
}

.content-pagination {
    margin: 30px 0;
    text-align: center;
}

.progress {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    width: 0%;
    -webkit-transition: width 0.2s, opacity 0.4s;
    -o-transition: width 0.2s, opacity 0.4s;
    transition: width 0.2s, opacity 0.4s;
    opacity: 1;
    background-color: #efc14e;
    z-index: 999999;
}

.random-articls {
    margin-top: 10px;
    margin-bottom: 25px;
}

.random-articls .contentImg {
    height: 8.5rem;
    margin-bottom: 8px;
}

.random-articls .title {
    font-size: 14px;
    display: block;
    text-align: left;
    padding: 0px;
    min-height: 52px;
    line-height: 20px;
    word-wrap: break-word;
}

.user-bar {
    background-color: #444444;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    text-align: left;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.user-bar .bar-items ul li {
    position: relative;
    border-radius: 4px;
    padding: 6px 10px 6px 28px;
    margin-left: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.user-bar .bar-items ul li i {
    position: absolute;
    left: 11px;
    top: 11px;
}

.user-bar .bar-items ul li a:link,
.user-bar .bar-items ul li a:visited {
    color: #ffffff;
}

.user-bar .bar-items ul li.active {
    background-color: #409EFF;
}

.user-bar .bar-items ul li.active a:link,
.user-bar .bar-items ul li.active a:visited {
    color: #ffffff;
}

.user-bar .bar-items ul li.active:hover {
    background-color: #409EFF;
}

.user-bar .bar-items ul li:hover {
    background-color: #555;
}

.recent-content-list {
    margin-bottom: 30px;
}

.recent-content-list .content-list {
    text-align: left;
}

.recent-content-list .content-list ul .hot-li:last-child {
    border: none;
}

.recent-content-list .content-list ul li {
    position: relative;
    margin: 0;
    padding: 7px 0 8px;
    overflow: hidden;
    font-size: 14px;
    display: block;
}

.recent-content-list .content-list ul li img {
    width: 100%;
    vertical-align: top;
    border-radius: 2px;
}

.recent-content-list .content-list ul li .right-text {
    position: relative;
    line-height: 1.4;
}

.recent-content-list .content-list ul li .right-text .title {
    font-size: 13px;
    height: 2.3rem;
    display: block;
    margin-bottom: 10px;
    word-break: break-all;
}

.recent-content-list .content-list ul li .right-text span {
    display: block;
    margin: 0;
    font-size: 12px;
    color: #999;
    line-height: 14px;
}

.recent-content-list.fixed {
    position: fixed;
    top: 62px;
}

.user-menu-options {
    margin-top: 2rem;
    text-align: left;
}

.user-menu-options li {
    position: relative;
    margin-bottom: 1px;
    background: #eee;
    cursor: pointer;
}

.user-menu-options li a {
    color: #999;
    padding: 4px 0;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    display: block;
}

.user-menu-options li a i {
    padding: 0 15px;
    font-size: 20px;
    line-height: 30px;
}

.user-menu-options li a span.label {
    font-size: 14px;
    color: #555;
    padding-left: 15px;
}

.user-menu-options li a span.fa {
    font-size: 20px;
    padding: 0 15px;
    line-height: 30px;
    border-right: 1px solid #ccc;
}

.user-menu-options li a span.fa-asterisk {
    font-size: 15px;
}

.user-menu-options li a .fa-angle-right {
    right: 0;
    top: 6px;
    font-size: 26px;
    position: absolute;
    opacity: .6;
}

.user-menu-options li a:hover {
    color: #444;
    background: #ddd;
}

.user-menu-options li.active span.label {
    font-weight: 700;
}

.user-menu-options li.active span.fa {
    color: #409EFF;
}

.adlogin {
    height: 100%;
    background-image: url(/static/img/login_bg.d7174ef.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.adlogin body {
    background: none;
}

.admin-logo-title h3 {
    color: #99a9bf;
    font-size: 35px;
    text-align: center;
    font-weight: normal;
}

.admin-login-form {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
}

.admin-login-form .el-input-group__prepend {
    padding: 0 10px;
}

.admin-login-form .submit-btn {
    text-align: center;
}

.admin-login-form .submit-btn .el-button {
    width: 100%;
}

.admin-login-form .imageCode {
    width: 8rem;
    height: 2rem;
    position: absolute;
    right: 0;
    top: 5px;
}

.admin-login-form .login-container {
    background-clip: padding-box;
    background: transparent;
}

.admin-login-form .login-container h3 {
    margin: 0;
    border-bottom: 1px solid #e9eaec;
    padding: 14px 16px;
    line-height: 1;
    font-weight: 500;
}

.admin-login-form .login-container h3 i {
    display: inline-block;
    margin-right: 10px;
}

.admin-login-form .login-container .loginForm {
    padding: 14px 16px;
}

.admin-login-form .login-container .el-form-item {
    margin-bottom: 15px;
    position: relative;
}

.admin-login-form .login-container .el-form-item .el-form-item__label {
    color: transparent;
}

.admin-login-form .login-container .el-form-item .el-form-item__content i {
    position: absolute;
    top: 12px;
    left: -25px;
    color: #fff;
    font-size: 16px;
}

.admin-login-form .login-container .el-form-item .el-input__inner {
    background: transparent;
    padding: 0;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #fff;
}

.admin-login-form .login-container .title {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
}

.admin-login-form .login-container .remember {
    margin: 0px 0px 35px 0px;
}

.content-info-form .el-input__inner {
    border-width: 1px !important;
}

.content-info-form .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.content-info-form .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.content-info-form .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100%;
    height: 150px;
    line-height: 150px !important;
    text-align: center;
}

.content-info-form .avatar {
    width: 100%;
    height: 150px;
    display: block;
}

.content-info-form .left-pannel .markdown-pannle {
    padding: 0;
}

.content-info-form .left-pannel .markdown-pannle h3 {
    border: none;
}

.content-info-form .left-pannel .el-button {
    width: 100%;
}

.content-info-form .left-pannel .el-form-item__content {
    margin-left: 0 !important;
}

.markdown-notice .inner ol {
    margin: 0;
    padding: 0 10px;
}

.markdown-notice .inner span {
    font-size: 13px;
}

.user-center .no-contents {
    padding: 15px;
    min-height: 300px;
    background-color: #fff;
}

.user-center .no-contents .um-profile-note {
    color: #666;
    text-align: center;
    padding-top: 60px;
}

.user-center .no-contents .um-profile-note i {
    display: block;
    font-size: 70px;
    height: 70px;
    line-height: 70px;
}

.userContentList {
    padding: 0 15px 15px;
}

.userContentList li {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.userContentList li h2 {
    margin: 0 0 15px;
}

.userContentList li h2 .green {
    color: #67C23A;
}

.userContentList li h2 .yellow {
    color: #E6A23C;
}

.userContentList li .editItem {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    padding: 0 5px;
    font-size: 14px;
    line-height: 28px;
}

.userContentList li .item-excerpt {
    color: #666;
}

.userContentList li .post-meta {
    margin-bottom: 0;
}

.userContentList li .post-meta li {
    display: inline-block;
    border: none;
    color: #999;
    font-size: 13px;
    margin-right: 20px;
    padding-bottom: 0;
}

.userContentList li:hover {
    margin: 0 -15px;
    padding: 20px 15px;
    background: #fafafa;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.userContentList li:hover .editItem {
    display: block;
}

.rec-message-list .message-list {
    border-top: 1px solid #efefef;
    font-size: 14px;
    color: #999999;
    padding: 16px 0;
}

.rec-message-list .message-list a:link,
.rec-message-list .message-list a:visited {
    color: #999999;
}

.rec-message-list .message-list a:hover {
    color: #409EFF;
}

.rec-message-list .message-list .comment-info .logo {
    display: inline-block;
    vertical-align: middle;
}

.rec-message-list .message-list .comment-info .logo img {
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
}

.rec-message-list .message-list .comment-info .uname {
    max-width: 120px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.rec-message-list .message-list .comment-info span {
    float: right;
}

.rec-message-list .message-list .comment-excerpt {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    background: #f5f5f5;
    border-radius: 1px;
    color: #666;
}

.rec-message-list .message-list .comment-excerpt p {
    margin: 0;
    padding: 0 10px;
}

.rec-message-list .message-list .comment-excerpt:before {
    position: absolute;
    left: 10px;
    top: -10px;
    content: "";
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px solid transparent;
    border-bottom-color: #f5f5f5;
}

.rec-message-list .message-list .comment-post {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.contentContainer {
    padding-top: 62px;
}

.contentContainer .mainbody {
    padding: 20px 0px 20px;
}

.contentContainer .mainbody .login-form .el-form-item .el-input .el-input__inner,
.contentContainer .mainbody .login-form .el-form-item .el-textarea .el-textarea__inner,
.contentContainer .mainbody .user-info .el-form-item .el-input .el-input__inner,
.contentContainer .mainbody .user-info .el-form-item .el-textarea .el-textarea__inner,
.contentContainer .mainbody .login-main .el-form-item .el-input .el-input__inner,
.contentContainer .mainbody .login-main .el-form-item .el-textarea .el-textarea__inner {
    border: 2px solid #dddddd;
}

.contentContainer .mainbody .login-form .el-form-item .el-form-item__label,
.contentContainer .mainbody .user-info .el-form-item .el-form-item__label,
.contentContainer .mainbody .login-main .el-form-item .el-form-item__label {
    line-height: 22px;
    padding-bottom: 8px !important;
    font-weight: 600;
    font-size: 15px;
}

.contentContainer .mainbody .content-list .main-list {
    padding-bottom: 10px;
    background-color: #fff;
}

.contentContainer .mainbody .content-list .main-list .column-wrap {
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #303030;
    padding: 0 15px;
    margin-bottom: 15px;
}

.contentContainer .mainbody .content-list .main-list .column-wrap h1 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 48px;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid #EFEFEF;
}

.contentContainer .mainbody .content-list .main-list .cate-pannle-menu {
    position: relative;
    padding: 0 15px;
}

.contentContainer .mainbody .content-list .main-list .cate-pannle-menu .el-menu--horizontal {
    border-bottom: solid 1px #efefef;
}

.contentContainer .mainbody .content-list .main-list .cate-pannle-menu .el-menu--horizontal .el-menu-item {
    height: 48px;
    line-height: 48px;
    padding: 0;
    margin-right: 31px;
    font-size: 16px;
}

.contentContainer .mainbody .content-list .main-list .cate-pannle-menu .el-menu--horizontal .el-menu-item.is-active {
    color: #3ca5f6;
    font-weight: 500;
}

.contentContainer .mainbody .content-list .main-list .article-list {
    padding: 0 15px;
    margin: 0 0 20px;
    list-style: none;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b {
    border-bottom: 1px solid #efefef;
    padding: 20px 0px;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .item-category {
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px 6px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    background-color: #000;
    filter: alpha(opacity=60);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    text-decoration: none;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .item-category:hover {
    background: #409EFF;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .post-angle {
    position: absolute;
    left: -10px;
    height: 21px;
    color: #fff;
    text-align: center;
    background-color: #f63756;
    line-height: 24px;
    padding: 0 10px;
    z-index: 101;
    top: 0px;
    font-size: 13px;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .post-angle:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 21px;
    width: 0;
    height: 0;
    border-top: 6px solid #cd213d;
    border-left: 10px solid transparent;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .contentImg {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: block;
    position: relative;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .contentImg img {
    width: 100%;
    min-height: 6rem;
    vertical-align: top;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .contentImg .content-cate {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    display: block;
    padding: 0 0.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 0.6rem;
    text-align: center;
    border-radius: 1rem;
    z-index: 11;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription {
    text-align: left;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription h2 {
    margin: 0;
    font-size: 20px;
    word-break: break-all;
    font-weight: 400;
    line-height: 1.4;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription .dis {
    margin: 10px 0;
    font-size: 13px;
    color: #666666;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription .post-meta {
    position: absolute;
    bottom: 0;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription .post-meta a:link,
.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription .post-meta a:visited {
    color: #3ca5f6;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription .post-meta li {
    display: inline-block;
    font-size: 13px;
    color: #999999;
    margin: 0px 10px 0px 0;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription .post-meta li.author {
    margin-right: 20px;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription .post-meta li.author .logo {
    display: inline-block;
    vertical-align: middle;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription .post-meta li.author .logo img {
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item .discription .post-meta li.author span {
    display: inline-block;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b .content-item:last-child {
    border: none !important;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b:last-child {
    border: none;
}

.contentContainer .mainbody .content-list .main-list .article-list .post-b:hover {
    margin: 0 -15px;
    padding: 20px 15px;
    background: #fafafa;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.contentContainer .mainbody .contentImg {
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow .3s ease 0s;
    transition: -webkit-box-shadow .3s ease 0s;
    -o-transition: box-shadow .3s ease 0s;
    transition: box-shadow .3s ease 0s;
    transition: box-shadow .3s ease 0s, -webkit-box-shadow .3s ease 0s;
}

.contentContainer .mainbody .contentImg img {
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.contentContainer .mainbody .contentImg img:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.contentContainer .mainbody .contentImg:hover {
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: -webkit-box-shadow .3s ease 0s;
    transition: -webkit-box-shadow .3s ease 0s;
    -o-transition: box-shadow .3s ease 0s;
    transition: box-shadow .3s ease 0s;
    transition: box-shadow .3s ease 0s, -webkit-box-shadow .3s ease 0s;
}

.contentContainer .content-detail {
    color: #3f3f3f;
}

.contentContainer .content-detail .hentry {
    background: #fff;
    padding: 30px;
    margin-bottom: 20px;
}

.contentContainer .content-detail .from {
    color: #fa5555;
    font-size: 13px;
    font-weight: normal;
}

.contentContainer .content-detail img {
    max-width: 100% !important;
    height: auto;
}

.contentContainer .content-detail .content-title {
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
}

.contentContainer .content-detail .content-author {
    color: #969696;
}

.contentContainer .content-detail .content-author ul li.author-name {
    color: #409EFF;
}

.contentContainer .content-detail .content-author ul li {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
}

.contentContainer .content-detail .content-main {
    font-size: 15px;
}

.contentContainer .content-detail .meta-bottom {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contentContainer .content-detail .share-group {
    text-align: right;
}

.contentContainer .content-detail .share-group ul li {
    padding: 0 10px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

.contentContainer .content-detail .share-group ul li i {
    font-size: 18px;
}

.contentContainer .content-detail .share-group ul li .fa-qq {
    color: #4296d3;
}

.contentContainer .content-detail .share-group ul li .fa-wechat {
    color: #00bb29;
}

.contentContainer .content-detail .share-group ul li .fa-weibo {
    color: #e05244;
}

.contentContainer .content-detail .share-group ul li .fa-heart {
    color: #cccccc;
}

.contentContainer .content-detail .share-group ul li .fa-heart:hover {
    color: #e05244;
}

.contentContainer .content-detail .share-group ul li.like {
    height: 18px;
    line-height: 18px;
    color: #cccccc;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.contentContainer .content-detail .share-group ul li.like span {
    font-size: 12px;
}

.contentContainer .content-detail .share-group ul li.more {
    border: none;
}

.contentContainer .case-box {
    min-height: 400px;
}

.contentContainer .case-box .case-list {
    background-color: #ffffff;
    padding: 20px;
}

.contentContainer .case-box .case-list h3 {
    margin: 5px 10px 20px;
    font-size: 15px;
    color: #878d99;
}

.contentContainer .case-box .case-list h3 .el-button--mini {
    padding: 5px 8px;
    font-weight: 700;
}

.contentContainer .case-box .case-list img {
    width: 100%;
    height: 2rem;
}

.contentContainer .user-center .user-contents {
    background-color: #ffffff;
}

.contentContainer .user-center .user-message {
    background-color: #ffffff;
}

.contentContainer .user-center .user-info {
    background-color: #ffffff;
}

.contentContainer .user-center .user-info .basic-info {
    padding: 30px;
}

.contentContainer .user-center .user-info .basic-info .left-pannel {
    padding: 0 30px;
}

.contentContainer .user-center .user-info .basic-info .left-pannel .user-left-menu .user-logo {
    margin: 0 auto;
    width: 100px;
    text-align: center;
    margin-top: 4rem;
}

.contentContainer .user-center .user-info .basic-info .left-pannel .user-left-menu .user-logo .el-form-item {
    margin-bottom: 5px;
}

.contentContainer .user-center .user-info .basic-info .left-pannel .user-left-menu .user-logo span {
    font-weight: 700;
    color: #555;
    text-decoration: none !important;
    font-size: 18px;
    line-height: 1.4em;
}

.contentContainer .user-center .user-info .basic-info .left-pannel .user-left-menu .user-logo .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.contentContainer .user-center .user-info .basic-info .left-pannel .user-left-menu .user-logo .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.contentContainer .user-center .user-info .basic-info .left-pannel .user-left-menu .user-logo .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.contentContainer .user-center .user-info .basic-info .left-pannel .user-left-menu .user-logo .avatar {
    width: 100px;
    height: 100px;
    display: block;
}

.contentContainer .user-center .user-info .basic-info .right-pannel .top-bar {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #555;
    margin-bottom: 15px;
}

.contentContainer .user-center .user-info .basic-info .right-pannel .top-bar i {
    margin-right: 10px;
}

.contentContainer .user-center .user-info .el-button {
    padding: 12px 50px;
    font-size: 15px;
}

.contentContainer .login-main {
    background-color: #fff;
}

.contentContainer .login-main .login-box {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0px 100px;
}

.contentContainer .login-main .login-box .title {
    text-align: center;
    font-size: 24px;
    position: relative;
}

.contentContainer .login-main .login-box .title::after {
    position: absolute;
    left: 50%;
    bottom: -15px;
    width: 20px;
    height: 2px;
    margin-left: -10px;
    background: #999;
    content: '';
}

.contentContainer .login-main .login-box .el-button {
    width: 100%;
    padding: 16px 20px;
}

@media screen and (max-width: 768px) {
    .header .header-main {
        padding: 5px 0 !important;
    }
    .header .header-main .header-logo {
        /* width: 150px !important; */
        margin-top: .5rem;
    }
    .header .header-main .header-logo a {
        height: auto !important;
    }
    .header .header-main .header-logo a img {
        width: 100% !important;
        margin-top: 0;
    }
    .header .header-main .header-nav {
        border-left: none !important;
        margin-left: 0 !important;
    }
    .content-item .row-list {
        margin: 0 !important;
    }
    .content-item .row-list .el-col {
        padding: 0 !important;
    }
    .content-item .row-list .contentImg {
        max-height: 6rem;
    }
    .content-item .row-list .contentImg .item-category {
        display: none !important;
    }
    .content-item .discription {
        margin-top: 10px !important;
        line-height: 1.5;
    }
    .content-item .discription h2 {
        font-size: 16px !important;
    }
    .content-item .discription .post-meta {
        position: relative !important;
    }
    .content-item .discription .post-meta .author {
        display: none !important;
    }
    .top-ads .el-carousel__container {
        height: 8rem !important;
    }
    .top-ads .el-carousel__container img {
        height: auto !important;
    }
    .main-list {
        padding: 0 !important;
    }
    .main-list .article-list {
        padding: 0 10px !important;
    }
    .footer {
        display: none !important;
    }
    .page-component-up {
        display: none !important;
    }
    .contentContainer .mainbody {
        padding: 10px 0px 10px;
    }
    .contentContainer .mainbody .main-list .cate-pannle-menu {
        display: none !important;
    }
    .contentContainer .content-detail .hentry {
        padding: 10px !important;
    }
    .contentContainer .content-detail .meta-bottom {
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .contentContainer .content-detail .meta-bottom .meta-tags {
        margin-bottom: 20px;
    }
    .contentContainer .content-detail .share-group {
        text-align: center !important;
    }
    .contentContainer .content-detail .random-articls .contentImg {
        height: 5rem !important;
    }
    .contentContainer .login-main .login-box {
        width: 80%;
    }
}