{% hot key="hotItemListData","pageSize"=10 %}
{% if hotItemListData.length > 0 %}
<div class="pannel-box hot-content-list">
    <h2 class="pannel-title">{{__('lc_hotDocuments')}}</h2>
    <div class="content-list">
        <ul>
            {% for item in hotItemListData %}
            <li>
                <span class="triangle"></span>
                <div class="con">
                    <a href="{{item.url}}" target="_blank">
                        {{item.title}}
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif%}