<!--最新文章模块-->
<div class="pannel-box recent-content-list">
    <h2 class="pannel-title">{{__('lc_new_document')}}</h2>
    <div class="content-list">
        <ul class="row">
            {% news key="newItemList","pageSize"=10 %}
            {% if newItemList.length > 0 %} {% for item in newItemList %}
            <li class="list-img">
                <div class="row">
                    <div class="col-md-5 ">
                        <a href="{{item.url}}" class="contentImg">
                            <img src="{{item.sImg}}" alt="{{item.title}}">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <a href="{{item.url}}" target="_blank" class="title">
                            {{item.stitle | cutwords(80)}}
                        </a>
                        <span class="date">{{item.date | formatDateForMini('date')}}</span>
                    </div>
                </div>
            </li>
            {% endfor %} {% else %}
            <p class="text-center">暂无内容...</p>
            {% endif%}
        </ul>
    </div>
</div>