<!--联系我们-->
<div class="email-user-info" ms-controller="email-user-info">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form class="form-horizontal" name="loginEmailForm" ms-validate="@validate">
                <h3 class="col-sm-offset-3 top-bar">
                    <span>{{__('lc_sendEmail_title')}}</span>
                    <small style="display:inline-block" class="text-danger" :visible="@showErr"
                        ms-html="@message"></small>
                </h3>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">{{__('lc_sendEmail_user_name')}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" ms-duplex="@name"
                            placeholder="{{__('lc_basic_pl_name')}}" ms-rules="{required:true,minlength:2,maxlength:16}"
                            data-required-message="{{__('validate_inputNull',[__('lc_basic_user_name')])}}"
                            data-message="{{__('validate_rangelength',[__('lc_basic_user_name'),2,16])}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">{{__('lc_sendEmail_user_email')}}</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" id="em" ms-duplex="@email"
                            placeholder="{{__('lc_write_email')}}"
                            ms-rules="{required:true, pattern: /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/ }"
                            data-required-message="{{__('validate_inputNull',[__('lc_sendEmail_user_email)])}}"
                            data-message="{{__('validate_inputCorrect',[__('lc_sendEmail_user_email')])}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">{{__('lc_basic_user_tel')}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="phoneNum" ms-duplex="@phoneNum"
                            placeholder="{{__('lc_basic_pl_tel')}}" ms-rules="{required:true,number:true }"
                            data-required-message="{{__('validate_inputNull',[__('lc_basic_user_tel')])}}"
                            data-message="{{__('validate_inputCorrect',[__('lc_basic_user_tel')])}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">{{__('lc_sendEmail_user_content')}}</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="comments" ms-duplex="@comments"
                            placeholder="{{__('lc_sendEmail_user_content')}}"
                            ms-rules="{ required:true,minlength:5,maxlength:1000 }"
                            data-required-message="{{__('validate_inputNull',[__('lc_sendEmail_user_content')])}}"
                            data-message="{{__('validate_ranglengthandnormal',[__('lc_sendEmail_user_content'),5,1000])}}"></textarea>
                    </div>
                </div>
                <div class="sub-btns" id="ul-s5">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-primary">{{__('lc_sendEmail_user_sub_btn')}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<script>
</script>