<!--
约定documentList.docs为文档列表数据集合
item为子元素集合
-->
<div class="post-list">
	{% if pageType == 'index' %}
	<h3 class="top-news">
		<span>{{__('lc_new_document')}}
			<span>
	</h3>
	{% endif %} {% for item in posts %}
	<article class="post">
		<div class="row">
			<div class="col-xs-5 col-md-4">
				{% if item.categories %} {% if item.categories.length > 1 %}
				<a target="_blank" class="item-category"
					href="{{(item.categories)[item.categories.length-1].url}}">{{(item.categories)[item.categories.length-1].name}}</a>
				{% elif item.categories == 1 %}
				<a target="_blank" class="item-category"
					href="{{(item.categories)[0].url}}">{{(item.categories)[0].name}}</a>
				{% endif%} {% endif%}
				<a href="{{item.url}} " target="_blank " class="contentImg ">
					<img src="{{item.sImg}} " class="img-responsive " alt="{{item.title}} " />
				</a>
			</div>
			<div class="col-xs-7 col-md-8 discription ">
				<h2 class="post-title" alt="{{site.altkey}}{{item.title}}">
					<a href="{{item.url}} " target="_blank ">
						{{item.title}}
					</a>
				</h2>
				<div class="post-content ">
					{{item.discription | cutwords(100)}}
				</div>
				<ul class="post-meta ">
					{% if item.author %} {% set renderAuthor = item.author %} {% else %}
					{% set renderAuthor = item.uAuthor %} {% endif %}
					<li class="author">
						<a class="logo">
							<img src="{{ renderAuthor.logo}}" alt="{{renderAuthor.userName}}">
						</a>
						<span>{{renderAuthor.userName}}</span>
					</li>
					<li>
						<i class="fa fa-clock-o " aria-hidden="true "></i>&nbsp; {{item.updateDate}}
					</li>
					<li>
						<i class="fa fa-eye " aria-hidden="true "></i>&nbsp;{{item.clickNum}}
					</li>
					<li>
						<i class="fa fa-comment " aria-hidden="true "></i>&nbsp;{{item.commentNum}}
					</li>
				</ul>
			</div>
		</div>
	</article>

	{% endfor %}


</div>