{% extends "../public/defaultTemp.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 main-container" ms-controller="documentInfo">
            <input type="hidden" value="{{documentInfo._id}}" id="contentId">
            <div class="row articel-details">
                {% if (documentInfo.categories[0]).enable %}
                <div class="col-md-8 left-frame">
                    <div class="articel-main ">
                        <article class="post">
                            <h2 alt="{{siteInfo.altkey}}{{documentInfo.title}}" class="post-title">
                                {{documentInfo.title}} {% if documentInfo.from == '2' %} &nbsp;
                                <span class="badge">{{lk.lc_document_share}}</span>
                                {% endif %}
                            </h2>
                            <ul class="post-meta content-author">
                                <li class="author-name">
                                    {% if documentInfo.author %} {{documentInfo.author.userName}} {% else %} {{documentInfo.uAuthor.userName}} {% endif %}
                                </li>
                                <li>
                                    {% set cateInfo = (documentInfo.categories[0]) %}
                                    <span class="dot">&nbsp;•&nbsp;</span>
                                    <a href="/{{cateInfo.defaultUrl}}___{{cateInfo._id}}" target="_blank">{{(documentInfo.categories[documentInfo.categories.length-1]).name}}</a>
                                </li>
                                <li>
                                    <span class="dot">&nbsp;•&nbsp;</span> {{documentInfo.date}}
                                </li>
                                <li>
                                    <span class="dot">&nbsp;•&nbsp;</span>{{lk.lc_document_readNum}}&nbsp;&nbsp;{{documentInfo.clickNum}}
                                </li>
                            </ul>
                            <div class="post-content">
                                {{documentInfo.comments | safe}}
                            </div>
                        </article>
                        {% if documentInfo.tags.length>0%}
                        <div class="tag-list">
                            <ul>
                                {% for tag in documentInfo.tags %}
                                <li>
                                    <span class="label label-info">
                                        <a href="/tag/{{tag.name}}">{{tag.name}}</a>
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% include "../public/randomList.html" %} {% include "../public/msgBoard.html" %} {% endif %}
                    </div>
                </div>
                <div class="col-md-4 right-frame">
                    {% include "../public/cateList.html" %} {% include "../public/newItemList.html" %}
                </div>
                {% else %}
                <div class="col-md-12 left-frame">
                    <div class="articel-main">
                        <article class="post">
                            <h2 alt="{{siteInfo.altkey}}{{documentInfo.title}}" class="post-title">
                                {{documentInfo.discription}} {% if documentInfo.from == '2' %} &nbsp;
                                <span class="badge">{{lk.lc_document_share}}</span>
                                {% endif %}
                            </h2>
                            <ul class="post-meta content-author">
                                <li class="author-name">
                                    {% if documentInfo.author %} {{documentInfo.author.userName}} {% else %} {{documentInfo.uAuthor.userName}} {% endif %}
                                </li>
                                <li>
                                    <span class="dot">&nbsp;•&nbsp;</span> {{(documentInfo.categories[documentInfo.categories.length-1]).name}}
                                </li>
                                <li>
                                    <span class="dot">&nbsp;•&nbsp;</span> {{documentInfo.date}}
                                </li>
                                <li>
                                    <span class="dot">&nbsp;•&nbsp;</span>{{lk.lc_document_readNum}}&nbsp;&nbsp;{{documentInfo.clickNum}}
                                </li>
                            </ul>
                            <div class="post-content">
                                {{documentInfo.comments | safe}}
                            </div>
                        </article>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}