<!--尾部模板-->
<div class="back-to-top" id="gotop">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>
<footer id="footer">
    <div class="container text-left">
        自豪的采用&nbsp;<a href="https://github.com/doramart/DoraCMS" rel="nofollow" target="_blank" title="代码在这里">DoraCMS <%=siteConfig.version%></a>&nbsp;Copyright (c) 2015 &nbsp;<a
                href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank"><%=siteConfig.siteIcp%></a> All Rights Reserved &nbsp;<a href="http://<%=myDomain%>/sitemap.html" target="_blank">站点地图</a>&nbsp;应用案例：<a href="http://www.dailyads.cn" target="_blank">每日一广告</a>
    </div>
</footer>