<!--尾部模板-->
<footer id="footer">
    <div class="container text-left">
        自豪的采用&nbsp;<a href="https://git.oschina.net/doramart/DoraCMS" rel="nofollow" target="_blank" title="代码在这里">DoraCMS v1.0.5</a>&nbsp;Copyright (c) 2015 &nbsp;<a
                href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank"><%=siteConfig.siteIcp%></a> All Rights Reserved &nbsp;<a href="http://<%=myDomain%>/sitemap.html" target="_blank">站点地图</a>&nbsp;应用案例：<a href="http://www.dailyads.cn" target="_blank">每日一广告</a>
    </div>
</footer>