<div class="hotNewsList">
    <h3>热门文章</h3>
    <ul>
        <%if(hotItemListData.length>0){%>
            <%hotItemListData.forEach(function(item){%>
            <li>
                <a href="/details/<%=item._id%>.html" target="_blank"><%=item.stitle%></a>
            </li>
            <%})%>
        <%}else{%>
            <li class="text-center">暂无内容...</li>
        <%}%>

    </ul>
</div>