<!--信息提示模块-->
<div class="noticeBoard" >
        <h3>操作提示</h3>
        <%if(infoType == 'info'){%>
        <div class="alert alert-info"><%=infoContent%></div>
        <%}else if(infoType == 'success'){%>
        <div class="alert alert-success"><%=infoContent%></div>
        <%}else if(infoType == 'danger'){%>
        <div class="alert alert-danger"><%=infoContent%></div>
        <%}else if(infoType == 'warning'){%>
        <div class="alert alert-warning"><%=infoContent%></div>
        <%}%>
        <a href="/" class="btn btn-default" role="button">返回</a>
</div>