<!--约定tagsData为标签集合-->
<div class="tagsList">
    <h3>标签云</h3>
    <ul>
        <%if(tagsData.length>0){%>
            <%tagsData.forEach(function(item){%>
            <li><a href="/content/searchResult/items?searchKey=<%=item.name%>&area=tags"><%=item.name%></a></li>
            <%})%>
        <%}else{%>
            <li class="text-center">暂无内容...</li>
        <%}%>
    </ul>
</div>