<!--用户中心右侧菜单-->
<ul>
    <li><a href="/users/userCenter">用户信息</a></li>
    <li><a href="/users/userMessage">我的消息</a></li>
    <li><a href="/users/userReplies">参与话题</a></li>
    <li><a href="/users/setUserPsd">修改密码</a></li>
</ul>

