<!doctype html>
<!-- [if IE]><html class="ie"><![endif]-->
<html>

<head>
    <title>DoraCMS内容管理系统</title>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta name="description" content="前端开发俱乐部">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" type="text/plain" href="">
    <link href="https://cdn.bootcss.com/element-ui/2.3.7/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-beta.3/polyfill.min.js"></script>
<link href="/static/css/admin.f5fdf7a.css" rel="stylesheet"></head>

<body>
    
            <input type='hidden' id='cateValue' value='{{manageCates}}'>
            
                <div id="app"></div>
<script type="text/javascript" src="/static/js/manifest.adca32f.js"></script><script type="text/javascript" src="/static/js/element.0d4b843.js"></script><script type="text/javascript" src="/static/js/vendor.f81cb69.js"></script><script type="text/javascript" src="/static/js/admin.3e14cf1.js"></script></body>

</html>