html, body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.fade-enter-active, .fade-leave-active {
    transition: all .2s ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #6e7173;
}

a:hover {
    color: #20A0FF
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-left: 2px solid #20A0FF;
    border-radius: 0px;
    overflow: auto;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.contentContainer {
    margin-top: 30px;
}

.content-item:last-child {
    border: none !important;
}

.normaltitle, .catetitle {
    font-size: 14px;
    color: #fff;
    text-align: left;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}

.normaltitle span {
    background-color: #20A0FF;
    height: 30px;
    line-height: 30px;
    padding: 2px 12px;
    display: inline-block;
}

.catetitle {
    color: #6e7173;
}

.simpletitle {
    color: #6e7173;
    font-weight: 100;
    margin: 0;
}

.pannel-title {
    /*font-size: 14px;*/
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}

.pannel-title span {
    color: #20A0FF;
    border-bottom: 1px solid #20A0FF;
    display: inline-block;
    padding: 5px 0;
    margin-bottom: -1px;
}

.login-form {
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 100px;
}

.login-form .submit-btn {
    text-align: left;
}

.login-form .login-container {
    background-clip: padding-box;
    padding: 25px 35px 10px 35px;
    background: #fff;
}

.login-form .login-container .title {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
}

.login-form .login-container.remember {
    margin: 0px 0px 35px 0px;
}

@media screen and (max-width:768px) {
    .header .header-main {
        padding: 10px 0 !important;
    }
    .header .header-main .header-logo {
        width: 150px !important;
        margin: 0 auto;
    }
    .header .header-main .header-nav {
        border-left: none !important;
        margin-left: 0 !important;
    }
    .footer .sitemap {
        display: none !important;
    }
    .login-pannel {
        display: none;
    }
    .content-tag {
        display: none;
    }
    .content-item {
        padding-bottom: 15px !important;
        margin-bottom: 20px !important;
    }
    .content-item .contentImg {
        display: none !important;
    }
    .content-mainbody-right {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .content-item .contentImg {
        display: none !important;
    }
}