html,
body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    color: rgb(51, 51, 51);
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .2s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #409EFF
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

pre {
    display: block;
    padding: 15px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #657b83;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0px;
    overflow: auto;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.contentContainer {
    margin-top: 30px;
}

.content-item:last-child {
    border: none !important;
}

.normaltitle,
.catetitle {
    font-size: 14px;
    color: #fff;
    text-align: left;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}

.normaltitle span {
    background-color: #409EFF;
    height: 30px;
    line-height: 30px;
    padding: 2px 12px;
    display: inline-block;
}

.catetitle {
    color: #333333;
}

.login-form {
    margin: 0 auto;
    padding-top: 6%;
    padding-bottom: 100px;
}

.login-form .submit-btn {
    text-align: left;
}

.login-form .login-container {
    background-clip: padding-box;
    padding: 25px 35px 10px 35px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    border-radius: 4px;
}

.login-form .login-container .title {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
}

.login-form .login-container.remember {
    margin: 0px 0px 35px 0px;
}

@media screen and (max-width:768px) {
    .header .header-main {
        padding: 10px 0 !important;
    }
    .header .header-main .header-logo {
        width: 150px !important;
        margin: 0 auto;
    }
    .header .header-main .header-nav {
        border-left: none !important;
        margin-left: 0 !important;
    }
    .footer .sitemap {
        display: none !important;
    }
    .content-item {
        padding-bottom: 15px !important;
    }
}

@media screen and (max-width:1200px) {
    .search-pannel {
        display: none !important;
    }
}