<div class="row" ng-controller="adsList">
	<% include public/modal %>
    <div class="col-xs-12">
        <div class="myInfoBox bg-warning text-warning">
            <xmp style="margin: 0">广告调用方式：new initSlides({adsId : key,containerId : 'exampleId'})</xmp>
        </div>
        <br/>
        <div class="panel">
            <a href="/admin/manage/ads/add" role="button" class="btn btn-primary btn-sm"><span class="fa fa-plus-square" aria-hidden="true">&nbsp;</span>添加广告</a>
            <% include public/tableTool %>
            <div class="pull-right">
                <% include public/searchBox %>
            </div>
        </div>
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th><input type="checkbox" class="mini" id="selectAll"/></th>
                        <th>标识</th>
                        <th>分类</th>
                        <th>广告名称</th>
                        <th>状态</th>
                        <th>展示方式</th>
                        <th>key</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    <tr class="datalist" ng-repeat="content in data">
                        <td><input type="checkbox" name="listItem" class="mini" value="{{content._id}}" ng-click="getNewIds()"/></td>
                        <td>{{content.mkey}}</td>
                        <td ng-switch on="content.category">
                            <span ng-switch-when="default">默认</span>
                            <span ng-switch-when="friendlink">友情链接</span>
                        </td>
                        <td>{{content.title}}</td>
                        <td ng-switch on="content.state">
                            <span ng-switch-when="1">显示</span>
                            <span ng-switch-when="2">隐藏</span>
                        </td>
                        <td ng-switch on="content.type">
                            <span ng-switch-when="0">文字</span>
                            <span ng-switch-when="1">图片</span>
                        </td>
                        <td>{{content._id}}</td>
                        <td>{{content.date | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                        <td>
                            <a href="/admin/manage/ads/edit/{{content._id}}" role="button"  title="编辑" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                            <button class="btn btn-default btn-xs" type="button" title="删除" ng-click="delOneItem(content._id)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </table>
            </div><!-- /.box-body -->
            <% include public/tableFooter %>
        </div><!-- /.box -->
    </div>


</div>

