<div class="row" ng-controller="messageList">
	<% include public/modal %>
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <tr>
                        <th>选择</th>
                        <th>文章标题</th>
                        <th>留言内容</th>
                        <th>留言者</th>
                        <th>邮箱</th>
                        <th>关联用户(回复)</th>
                        <th>时间</th>
                        <th>管理</th>
                    </tr>

                    <tr ng-repeat="msgs in data">
                        <td><input type="checkbox" class="mini"/></td>
                        <td class="  sorting_1"><a href="/details/{{msgs.contentId}}.html" target="_blank">{{msgs.contentTitle | limitTo : 20}}</a></td>
                        <td class=" ">{{msgs.content | limitTo : 50}}</td>
                        <td ng-switch on="msgs.utype">
                            <span ng-switch-when="0">{{msgs.author.userName}}</span>
                            <span ng-switch-when="1">{{msgs.adminAuthor.userName}}</span>
                        </td>
                        <td ng-switch on="msgs.utype">
                            <span ng-switch-when="0">{{msgs.author.email}}</span>
                            <span ng-switch-when="1">{{msgs.adminAuthor.email}}</span>
                        </td>
                        <td class=" ">{{msgs.replyAuthor.userName}}</td>
                        <td class=" ">{{msgs.date | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                        <td class=" ">
                            <button class="btn btn-primary btn-xs" data-whatever="{{msgs}}" data-toggle="modal" data-target="#getMsgDetails"><span class="fa fa-fw fa-mail-reply" aria-hidden="true"></span>回复</button>
                            <button class="btn btn-default btn-xs" ng-click="delMsgsItem(msgs._id)"><span class="fa fa-fw fa-trash-o" aria-hidden="true"></span>删除</button>
                        </td>
                    </tr>

                </table>

            </div><!-- /.box-body -->
            <% include public/tableFooter %>
        </div><!-- /.box -->

    </div><!-- /.col -->
    

    <!--查看留言详情模态窗口-->
    <div class="modal fade" id="getMsgDetails">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">留言回复</h4>
                </div>
                <div class="modal-body">
                    <div class="" id="showMsgDetail" style="min-height: 60px;padding: 10px 20px 40px;">

                    </div>
                    <form role="form" class="form-horizontal" name="repForm" ng-submit="repMsgForm(repForm.$valid)" novalidate>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="form-label-stripped">回复</label>
                        </div>
                        <div class="col-md-10">
                            <textarea rows="3" class="form-control" ng-model="repFormData.content" required></textarea>
                            <label for="inputError" class="control-label text-danger" ng-show="repForm.content.$invalid && !repForm.content.$pristine"><i class="glyphicon glyphicon-info-sign"></i> 请填写正确的邮箱地址</label>
                        </div>
                    </div>
                        <div class="margin-top-10">
                            <button class="btn btn-primary theme-btn pull-right"  ng-disabled="repForm.$invalid">回复</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div><!-- /.row -->

</div>


<script>
    /*targetID:全局对应指定记录的标记，在修改和删除时使用*/



</script>