
.app-wrapper[data-v-4a391f0a] {
  position: relative;
  height: 100%;
  width: 100%;
}
.app-wrapper[data-v-4a391f0a]:after {
    content: "";
    display: table;
    clear: both;
}
.app-wrapper.mobile.openSidebar[data-v-4a391f0a] {
    position: fixed;
    top: 0;
}
.drawer-bg[data-v-4a391f0a] {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.navbar[data-v-546a2439] {
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
}
.navbar .hamburger-container[data-v-546a2439] {
    line-height: 58px;
    height: 50px;
    float: left;
    padding: 0 10px;
}
.navbar .breadcrumb-container[data-v-546a2439] {
    float: left;
}
.navbar .errLog-container[data-v-546a2439] {
    display: inline-block;
    vertical-align: top;
}
.navbar .right-menu[data-v-546a2439] {
    float: right;
    height: 100%;
}
.navbar .right-menu[data-v-546a2439]:focus {
      outline: none;
}
.navbar .right-menu .right-menu-item[data-v-546a2439] {
      display: inline-block;
      margin: 0 8px;
}
.navbar .right-menu .screenfull[data-v-546a2439] {
      height: 20px;
}
.navbar .right-menu .international[data-v-546a2439] {
      vertical-align: top;
}
.navbar .right-menu .theme-switch[data-v-546a2439] {
      vertical-align: 15px;
}
.navbar .right-menu .avatar-container[data-v-546a2439] {
      height: 50px;
      margin-right: 30px;
}
.navbar .right-menu .avatar-container .avatar-wrapper[data-v-546a2439] {
        cursor: pointer;
        margin-top: 5px;
        position: relative;
}
.navbar .right-menu .avatar-container .avatar-wrapper .user-avatar[data-v-546a2439] {
          width: 40px;
          height: 40px;
          border-radius: 10px;
}
.navbar .right-menu .avatar-container .avatar-wrapper .el-icon-caret-bottom[data-v-546a2439] {
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
}

.app-breadcrumb.el-breadcrumb[data-v-559f1c5b] {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
  margin-left: 10px;
}
.app-breadcrumb.el-breadcrumb .no-redirect[data-v-559f1c5b] {
    color: #97a8be;
    cursor: text;
}

.dora-logo img {
  width: 100%;
}

.tags-view-container[data-v-b8458172] {
  height: 34px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d8dce5;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
}
.tags-view-container .tags-view-wrapper .tags-view-item[data-v-b8458172] {
    display: inline-block;
    position: relative;
    height: 26px;
    line-height: 26px;
    border: 1px solid #d8dce5;
    color: #495060;
    background: #fff;
    padding: 0 8px;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4px;
}
.tags-view-container .tags-view-wrapper .tags-view-item[data-v-b8458172]:first-of-type {
      margin-left: 15px;
}
.tags-view-container .tags-view-wrapper .tags-view-item[data-v-b8458172]:last-of-type {
      margin-right: 15px;
}
.tags-view-container .tags-view-wrapper .tags-view-item.active[data-v-b8458172] {
      background-color: #409eff;
      color: #fff;
      border-color: #409eff;
}
.tags-view-container .tags-view-wrapper .tags-view-item.active[data-v-b8458172]::before {
        content: "";
        background: #fff;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: relative;
        margin-right: 2px;
}
.tags-view-container .contextmenu[data-v-b8458172] {
    margin: 0;
    background: #fff;
    z-index: 100;
    position: absolute;
    list-style-type: none;
    padding: 5px 0;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.tags-view-container .contextmenu li[data-v-b8458172] {
      margin: 0;
      padding: 7px 16px;
      cursor: pointer;
}
.tags-view-container .contextmenu li[data-v-b8458172]:hover {
        background: #eee;
}

.tags-view-wrapper .tags-view-item .el-icon-close {
  width: 16px;
  height: 16px;
  vertical-align: 2px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}
.tags-view-wrapper .tags-view-item .el-icon-close:before {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    display: inline-block;
    vertical-align: -3px;
}
.tags-view-wrapper .tags-view-item .el-icon-close:hover {
    background-color: #b4bccc;
    color: #fff;
}

.scroll-container[data-v-69095dad] {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.scroll-container[data-v-69095dad] .el-scrollbar__bar {
    bottom: 0px;
}
.scroll-container[data-v-69095dad] .el-scrollbar__wrap {
    height: 49px;
}
