{
  "extends": ["eslint-config-egg", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "requireConfigFile": false,
    "allowImportExportEverywhere": true,
  },
  "plugins": ["prettier"],
  "rules": {
    "no-control-regex": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "one-var-declaration-per-line": ["error", "initializations"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "arrow-parens": ["off", "always"],
    "array-bracket-spacing": ["error", "never"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always",
      },
    ],
    "indent": [
      "off",
      2,
      {
        "SwitchCase": 1,
        "VariableDeclarator": 1,
        "outerIIFEBody": 1,
      },
    ],
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "linebreak-style": ["error", "unix"],
    "eqeqeq": ["error", "always"],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "prefer-const": "error",
    "object-curly-spacing": ["error", "always"],
    "comma-dangle": "off",
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "globals": {
    "exec": true,
    "concatPopulate": true,
    "getDateStr": true,
    "getContentListFields": true,
    "getAuthUserFields": true,
    "checkCurrentId": true,
    "remote": true,
    "hot": true,
    "news": true,
    "random": true,
    "near_post": true,
    "hottags": true,
    "ads": true,
    "recommend": true,
    "tags": true,
    "navtree": true,
    "childnav": true,
    "PluginsExtension": true,
    "HeaderExtension": true,
    "AssetsExtension": true,
  },
}
