logs/
npm-debug.log
node_modules/
coverage/
.idea/
.github/
run/
.DS_Store
*.swp
*.vscode
package-lock.json
app/ext
app/controller/ext
databak/
backup/
dist/*
.history

# 环境变量文件
.env
.env.local
.env.production
.env.development
.env.test

app/view/*
!app/view/admin-center/
!app/view/nunjucks-template-test/
!app/view/standard-template/
!app/view/user-center/

