shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=true
recursive-install=true
node-linker=hoisted 