<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"
    />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="description" content="{{ description }}">

    <script>
        var _hmt = _hmt || [];
        var env = "{{env}}";
        var title = "{{title}}";
        function createScript(url) {
            var hm = document.createElement("script");
            hm.src = url;
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        }
        (function () {
            var htmlClass = title === '管理员登录' ? 'adlogin' : '';
            document.getElementsByTagName('html')[0].setAttribute('class', htmlClass);
            if (env === 'production') {
                createScript("https://hm.baidu.com/hm.js?00bedeafedf2236ccbe9706d3a9e09b3")
            }
        })();
    </script>
</head>

<body>
    <!--vue-ssr-outlet-->
</body>


</html>