<!--搜索框-->
<form action="<%=currentLink%>" name="searchForm" >
    <div class="input-group">
        <input type="text" name="searchKey" id="searchInput" class="form-control input-sm pull-right" style="width: 200px;" placeholder="请输入需要查询的关键字" value="<%= searchKey%>"/>
        <div class="input-group-btn" style="width: auto;">
            <button class="btn btn-sm btn-default" type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>