{% extends "./default.html" %} {% block content %} {% import "./public/adsPannel.html" as adsPannel %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 main-container">
            <div class="row">
                <div class="col-md-8 left-frame">
                    <div class="row slider-box">
                        <div class="col-md-10">
                            {% ads name="recommend" %}
                            {{adsPannel.slider(recommend)}}
                        </div>
                        <div class="col-md-2 top-rec-contents">
                            {% recommend pageSize=3 %}
                            {% for item in recommend%}
                            <div class="rec-li">
                                <div class="contentImg">
                                    <a href="{{item.url}}">
                                        <img src="{{item.sImg}}" alt="{{item.title}}" />
                                    </a>
                                </div>
                                <a class="title" href="{{item.url}}">{{item.title | cutwords(15)}}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% include "./public/itemListTemp.html" %}
                </div>
                <div class="col-md-4 right-frame">
                    {% ads name="publishCms" %}
                    {{adsPannel.slider(publishCms)}}
                    {% ads name="qrCode" %}
                    {{adsPannel.slider(qrCode)}} {% include "./public/hotNewsList.html" %} {% include "./public/reCommendList.html"
                    %} {% include "./public/newMessageBoard.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}