#systemConfig-app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .hideSidebar {

    .main-container {
      margin-left: 54px;
    }

  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }

}