<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-9 left-frame">
                <h3 class="archive-title">分类 <%=cateInfo.name%> 下的文章</h3>
                <% include ../../public/itemListTemp %>
                <% include ../../public/pagination %>
            </div>
            <div class="col-md-3 right-frame">
                <% include ../../public/searchBoard %>
                <% include ../../public/leftNav %>
                <% include ../../public/hotNewsList %>
                <% include ../../public/tagsList %>
            </div>
        </div>
    </div>
</div>