<!DOCTYPE html>
<html class="{{pageType}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="description" content="{{siteInfo.discription}}">
    <meta content="{{siteInfo.key}}" name="keywords" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{siteInfo.title}}" />
    <meta property="og:description" content="{{siteInfo.discription}}" />
    <meta property="og:image" content="{{ogData.img}}">
    <meta property="og:url" content="{{ogData.url}}">
    <meta name="author" content="DoraCMS">
    <title>
        {{siteInfo.title}}
    </title>
    <!-- 引入组件库 -->
    <script src="/plugins/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
    <link href="/plugins/bootstrap/css1/bootstrap.min.css" rel="stylesheet">
    <script src="/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/avalon.js/2.2.7/avalon.min.js"></script>
    <script src="/plugins/layer/layer.js"></script>
    <link rel="stylesheet" href="/plugins/layer/theme/default/layer.css">

    <!--default theme-->
    <script src="/themes/{{staticforder}}/js/dora.front.js?version={{siteInfo.version}}" type="text/javascript"></script>
    <link href="/themes/{{staticforder}}/css/white.css?version={{siteInfo.version}}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
      <script src="/plugins/promise/promise.js"></script>
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?00bedeafedf2236ccbe9706d3a9e09b3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <input type="hidden" value="{{lsk}}" id="sysKeys">
</head>

<body>
    {% if pageType != 'adminlogin' %} {% include "./header.html" %} {% endif %}
    <div class="mainbody">
        {% block content %}{% endblock %}
    </div>
    {% if pageType != 'adminlogin' %} {% include "./footer.html" %} {% endif %}
</body>

</html>