{% extends "../default.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 main-container">
            <div class="row">
                <div class="col-md-12 left-frame">
                    <div class="column-wrap">
                        <h1 alt="{{site.altkey}}{{cateInfo.name}}">{{cateInfo.name}}</h1>
                    </div>
                    {% include "../public/sysItemListTemp.html" %} {% include "../public/pagination.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}