<!--关于我-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 left-frame">
                <div class="col-md-12">
                    <%documentList.forEach(function(item){%>
                    <article class="post">
                        <h2 class="post-title"><%=item.title%></h2>
                        <div class="post-content"><%- item.comments%></div>
                    </article>
                    <%})%>
                </div>
            </div>
            <div class="col-md-3 right-frame">
                <% include ../../public/searchBoard %>
                <% include ../../public/leftNav %>
                <% include ../../public/tagsList %>
            </div>
        </div>
    </div>
</div>