<script>
    $(function(){
        new initSlides({
            adsId : 'Vkbq3feZg',
            containerId : 'expressAds1'
        })
    })
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 left-frame">

                <div id="expressAds1" style="margin-bottom: 15px;"></div>

                <% include public/itemListTemp %>
                <% include public/pagination %>
            </div>
            <div class="col-md-3 right-frame">
                <% include public/searchBoard %>
                <% include public/cateList %>
                <% include public/hotNewsList %>
                <% include public/tagsList %>
                <% include public/friendLink %>
            </div>
        </div>
    </div>
</div>
