<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 left-frame">
                <% include public/itemListTemp %>
                <% include public/pagination %>
            </div>
            <div class="col-md-3 right-frame">
                <% include public/searchBoard %>
                <% include public/cateList %>
                <% include public/hotNewsList %>
                <% include public/tagsList %>
                <% include public/friendLink %>
            </div>
        </div>
    </div>
</div>
