<div class="container">
    <div class="col-md-12" style="margin-top: 50px;margin-bottom: 30px;">
        <div class="row">
            <form action="/content/searchResult/items">
                <div class="col-md-11">
                <input class="form-control search-input" type="text" placeholder="请输入关键字" name="searchKey" value="<%=pageInfo.searchKey%>">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default">搜索</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12 min-hight">
        <div class="row">
            <% include public/itemListTemp %>
            <% include public/pagination %>
        </div>
    </div>
</div>