<!--参与话题-->
<div class="container" ng-app="webApp">
    <div class="col-md-12">
        <div class="col-md-9 left-frame">
            <% include ../public/replyList %>
            <% include ../public/pagination %>
        </div>
        <div class="col-md-3 right-frame">
            <% include ../public/userNav %>
        </div>
    </div>
</div>