<!--用户中心-->
<script src="/javascripts/angular.min.js"></script>
<div class="container" ng-app="webApp">
    <div class="col-md-12">
        <div class="col-md-9 left-frame">
            <% include ../public/setPsd %>
        </div>
        <div class="col-md-3 right-frame">
            <% include ../public/userNav %>
        </div>
    </div>
</div>