<!--密码重置-->
<script src="/javascripts/angular.min.js"></script>
<div class="container" ng-app="webApp">
    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4 min-hight" style="margin-top: 50px;">
            <% include ../public/reSetPsd %>
        </div>
    </div>
</div>