.adlogin {
    background-image: url('assets/images/login_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    body {
        background: none;
    }
}

.admin-logo-title {
    h3 {
        color: #99a9bf;
        font-size: 35px;
        text-align: center;
        font-weight: normal;
    }
}

.admin-login-form {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
    .el-input-group__prepend {
        padding: 0 10px;
    }
    .submit-btn {
        text-align: center;
        .el-button {
            width: 100%;
        }
    }
    .imageCode {
        width: 8rem;
        height: 2rem;
        position: absolute;
        right: 0;
        top: 5px;
    }
    .login-container {
        background-clip: padding-box;
        background: transparent;
        h3 {
            margin: 0;
            border-bottom: 1px solid #e9eaec;
            padding: 14px 16px;
            line-height: 1;
            font-weight: 500;
            i {
                display: inline-block;
                margin-right: 10px;
            }
        }
        .loginForm {
            padding: 14px 16px;
        }
        .el-form-item {
            margin-bottom: 15px;
            position: relative;
            .el-form-item__label {
                color: transparent;
            }
            .el-form-item__content {
                i {
                    position: absolute;
                    top: 12px;
                    left: -25px;
                    color: #fff;
                    font-size: 16px;
                }
            }
            .el-input__inner {
                background: transparent;
                padding: 0;
                border-radius: 0;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                color: #fff;
            }
        }
        .title {
            margin: 0px auto 40px auto;
            text-align: center;
            color: #505458;
        }
        .remember {
            margin: 0px 0px 35px 0px;
        }
    }
}