 // 回到顶部组件
 .page-component-up {
     background-color: #fff;
     position: fixed;
     right: 30px;
     bottom: 150px;
     width: 40px;
     height: 40px;
     border-radius: 20px;
     cursor: pointer;
     transition: 0.3s;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
     i {
         color: $color-primary;
         display: block;
         line-height: 40px;
         text-align: center;
         font-size: 18px;
     }
 }