// 轮播图
.content-ads {
    .el-carousel__item h3 {
        color: #475669;
        font-size: 18px;
        margin: 0;
    }
    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }
    .el-carousel__item:nth-child(2n + 1) {
        background-color: #d3dce6;
    }
    .img-pannel {
        img {
            width: 100%;
        }
    }
    .text-pannel ul li {
        display: inline-block;
        margin-right: 10px;
    }
    .case-title {
        color: #b4bccc;
        margin: 15px auto;
        font-size: 13px;
    }
    .case-item {
        margin-bottom: 20px;
    }
}