 // 随机文档
 .random-articls {
     margin-top: 10px;
     margin-bottom: 25px;
     .contentImg {
         height: 8.5rem;
         margin-bottom: 8px;
     }
     .title {
         font-size: 14px;
         display: block;
         text-align: left;
         padding: 0px;
         min-height: 52px;
         line-height: 20px;
         word-wrap: break-word;
     }
 }