 // 推荐文档
 .rec-content-list {
     .content-list {
         text-align: left;
         padding-top: 5px;
         .hot-li {
             margin: 0 0 10px;
             display: inline-block;
             .contentImg {
                 height: 4.7rem;
                 display: block;
                 img {
                     width: 100%;
                     height: 100%;
                     border-radius: 2px;
                 }
             }
             .title {
                 font-size: 12px;
                 word-break: break-all;
                 line-height: 16px;
                 display: inline-block;
                 height: 45px;
                 vertical-align: text-top;
             }
         }
     }
 }