.content-info-form {
    .el-input__inner {
        border-width: 1px !important;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .avatar-uploader .el-upload:hover {
        border-color: $color-primary;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 100%;
        height: 150px;
        line-height: 150px;
        text-align: center;
    }
    .avatar {
        width: 100%;
        height: 150px;
        display: block;
    }
    .left-pannel {
        .markdown-pannle {
            padding: 0;
            h3 {
                border: none;
            }
        }
        .el-button {
            width: 100%;
        }
        .el-form-item__content {
            margin-left: 0 !important;
        }
    }
}

.markdown-notice {
    .inner {
        ol {
            margin: 0;
            padding: 0 10px;
        }
        span {
            font-size: 13px;
        }
    }
}