@import "mixin.scss";
$color-primary: #409EFF; //主色调
html,
body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color: rgb(51, 51, 51);
    line-height: 1.8;
    background: #f5f5f5;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .2s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: $color-primary
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #657b83;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: auto;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

input,
textarea {
    border-radius: 0 !important;
}

.el-dropdown-menu {
    li {
        font-size: 14px;
    }
}

.prop-wechat {
    text-align: center;
    h5 {
        line-height: 25px;
        font-weight: 700;
        margin-bottom: 0;
    }
    img {
        width: 10rem;
        height: 10rem;
    }
}

@import 'pannelbox.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'backToTop.scss';
@import 'catesMenu.scss';
@import 'contentAds.scss';
@import 'hotContent.scss';
@import 'recContent.scss';
@import 'messageBox.scss';
@import 'pagonation.scss';
@import 'progress.scss';
@import 'randomArticls.scss';
@import 'userBar.scss';
@import 'recentContent.scss';
@import 'ucLeftMenu.scss';
@import 'adminLogin.scss';
@import 'userAddContent.scss';
@import 'userContentList.scss';
@import 'messagePannel.scss';
.contentContainer {
    padding-top: 62px;
    .mainbody {
        padding: 20px 0px 20px;
        .login-form,
        .user-info,
        .login-main {
            .el-form-item {
                .el-input .el-input__inner,
                .el-textarea .el-textarea__inner {
                    border: 2px solid #dddddd;
                }
                .el-form-item__label {
                    line-height: 22px;
                    padding-bottom: 8px !important;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        } // 文档列表
        .content-list {
            .main-list {
                padding-bottom: 10px;
                background-color: #fff;
                .column-wrap {
                    position: relative;
                    height: 30px;
                    line-height: 30px;
                    font-size: 20px;
                    color: #303030;
                    padding: 0 15px;
                    margin-bottom: 15px;
                    h1 {
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        line-height: 48px;
                        font-weight: 500;
                        color: #333;
                        border-bottom: 1px solid #EFEFEF;
                    }
                }
                .cate-pannle-menu {
                    position: relative;
                    padding: 0 15px;
                    .el-menu--horizontal {
                        border-bottom: solid 1px #efefef;
                        .el-menu-item {
                            height: 48px;
                            line-height: 48px;
                            padding: 0;
                            margin-right: 31px;
                            font-size: 16px;
                        }
                        .el-menu-item.is-active {
                            color: #3ca5f6;
                            font-weight: 500;
                        }
                    }
                }
                .article-list {
                    padding: 0 15px;
                    margin: 0 0 20px;
                    list-style: none;
                    .post-b {
                        border-bottom: 1px solid #efefef; // margin-bottom: 25px;
                        padding: 20px 0px;
                        .content-item {
                            .item-category {
                                z-index: 1;
                                position: absolute;
                                left: 10px;
                                top: 10px;
                                padding: 5px 6px;
                                font-size: 12px;
                                line-height: 1;
                                color: #fff;
                                background-color: #000;
                                filter: alpha(opacity=60);
                                background: rgba(0, 0, 0, .5);
                                border-radius: 2px;
                                text-decoration: none;
                            }
                            .item-category:hover {
                                background: $color-primary;
                            }
                            .post-angle {
                                position: absolute;
                                left: -10px;
                                height: 21px;
                                color: #fff;
                                text-align: center;
                                background-color: #f63756;
                                line-height: 24px;
                                padding: 0 10px;
                                z-index: 101;
                                top: 0px;
                                font-size: 13px;
                            }
                            .post-angle:after {
                                content: " ";
                                position: absolute;
                                left: 0;
                                top: 21px;
                                width: 0;
                                height: 0;
                                border-top: 6px solid #cd213d;
                                border-left: 10px solid transparent;
                            }
                            .contentImg {
                                width: 100%;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    min-height: 6rem;
                                    vertical-align: top;
                                }
                                height: auto;
                                display: block;
                                position: relative;
                                .content-cate {
                                    position: absolute;
                                    top: 0.4rem;
                                    left: 0.4rem;
                                    display: block;
                                    padding: 0 0.5rem;
                                    color: #fff;
                                    background: rgba(0, 0, 0, 0.5);
                                    font-size: 0.6rem;
                                    text-align: center;
                                    border-radius: 1rem;
                                    z-index: 11;
                                }
                            }
                            .discription {
                                text-align: left; // min-height: 152px;
                                h2 {
                                    margin: 0;
                                    font-size: 20px;
                                    word-break: break-all;
                                    font-weight: 400;
                                    line-height: 1.4;
                                }
                                .dis {
                                    margin: 10px 0;
                                    font-size: 13px;
                                    color: #666666;
                                }
                                .post-meta {
                                    a:link,
                                    a:visited {
                                        color: #3ca5f6;
                                    }
                                    position: absolute;
                                    bottom: 0;
                                    li {
                                        display: inline-block;
                                        font-size: 13px;
                                        color: #999999;
                                        margin: 0px 10px 0px 0;
                                    }
                                    li.author {
                                        margin-right: 20px;
                                        .logo {
                                            display: inline-block;
                                            vertical-align: middle;
                                            img {
                                                border-radius: 50%;
                                                width: 22px;
                                                height: 22px;
                                            }
                                        }
                                        span {
                                            display: inline-block;
                                        }
                                    }
                                }
                            }
                        }
                        .content-item:last-child {
                            border: none !important;
                        }
                    }
                    .post-b:last-child {
                        border: none;
                    }
                    .post-b:hover {
                        margin: 0 -15px;
                        padding: 20px 15px;
                        background: #fafafa;
                        -webkit-transition: all 0.3s ease 0s;
                        -o-transition: all 0.3s ease 0s;
                        transition: all 0.3s ease 0s;
                    }
                }
            }
            .main-right {}
        } // 缩略图效果
        .contentImg {
            overflow: hidden;
            -webkit-transition: -webkit-box-shadow .3s ease 0s;
            transition: -webkit-box-shadow .3s ease 0s;
            -o-transition: box-shadow .3s ease 0s;
            transition: box-shadow .3s ease 0s;
            transition: box-shadow .3s ease 0s, -webkit-box-shadow .3s ease 0s;
            img {
                -webkit-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s;
            }
            img:hover {
                -webkit-transform: scale(1.03);
                -ms-transform: scale(1.03);
                transform: scale(1.03);
                -webkit-transition: all .3s ease-out 0s;
                -o-transition: all .3s ease-out 0s;
                transition: all .3s ease-out 0s;
            }
        }
        .contentImg:hover {
            -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
            -webkit-transition: -webkit-box-shadow .3s ease 0s;
            transition: -webkit-box-shadow .3s ease 0s;
            -o-transition: box-shadow .3s ease 0s;
            transition: box-shadow .3s ease 0s;
            transition: box-shadow .3s ease 0s, -webkit-box-shadow .3s ease 0s;
        }
    } // 文档详情
    .content-detail {
        color: #3f3f3f;
        .hentry {
            background: #fff;
            padding: 30px;
            margin-bottom: 20px;
        }
        .from {
            color: #fa5555;
            font-size: 13px;
            font-weight: normal;
        }
        img {
            max-width: 100% !important;
            height: auto;
        }
        .content-title {
            margin-top: 0;
            font-weight: 700;
            font-size: 20px;
        }
        .content-author {
            color: #969696;
            ul {
                li.author-name {
                    color: $color-primary;
                }
                li {
                    display: inline-block;
                    margin-bottom: 10px;
                    font-size: 13px;
                }
            }
        }
        .content-main {
            font-size: 15px;
        }
        .meta-bottom {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .share-group {
            text-align: right;
            ul {
                li {
                    padding: 0 10px;
                    vertical-align: middle;
                    display: inline-block;
                    cursor: pointer;
                    i {
                        font-size: 18px;
                    }
                    .fa-qq {
                        color: #4296d3;
                    }
                    .fa-wechat {
                        color: #00bb29;
                    }
                    .fa-weibo {
                        color: #e05244;
                    }
                    .fa-heart {
                        color: #cccccc;
                    }
                    .fa-heart:hover {
                        color: #e05244;
                    }
                }
                li.like {
                    height: 18px;
                    line-height: 18px;
                    color: #cccccc;
                    border-right: 1px solid #ccc;
                    padding-right: 20px;
                    span {
                        font-size: 12px;
                    }
                }
                li.more {
                    border: none;
                }
            }
        }
    } // 案例展示
    .case-box {
        .case-list {
            background-color: #ffffff;
            padding: 20px;
            h3 {
                margin: 5px 10px 20px;
                font-size: 15px;
                color: #878d99;
                .el-button--mini {
                    padding: 5px 8px;
                    font-weight: 700;
                }
            }
            img {
                width: 100%;
                height: 2rem;
            }
        }
        min-height: 400px;
    } // 用户中心
    .user-center {
        .user-contents {
            background-color: #ffffff;
        }
        .user-message {
            background-color: #ffffff;
        }
        .user-info {
            background-color: #ffffff;
            .basic-info {
                padding: 30px;
                .left-pannel {
                    padding: 0 30px;
                    .user-left-menu {
                        .user-logo {
                            margin: 0 auto;
                            width: 100px;
                            text-align: center;
                            margin-top: 4rem;
                            .el-form-item {
                                margin-bottom: 5px;
                            }
                            span {
                                font-weight: 700;
                                color: #555;
                                text-decoration: none !important;
                                font-size: 18px;
                                line-height: 1.4em;
                            }
                            .avatar-uploader .el-upload {
                                border: 1px dashed #d9d9d9;
                                border-radius: 50%;
                                cursor: pointer;
                                position: relative;
                                overflow: hidden;
                            }
                            .avatar-uploader .el-upload:hover {
                                border-color: $color-primary;
                            }
                            .avatar-uploader-icon {
                                font-size: 28px;
                                color: #8c939d;
                                width: 100px;
                                height: 100px;
                                line-height: 100px;
                                text-align: center;
                            }
                            .avatar {
                                width: 100px;
                                height: 100px;
                                display: block;
                            }
                        }
                    }
                }
                .right-pannel {
                    .top-bar {
                        font-size: 18px;
                        line-height: 18px;
                        font-weight: 700;
                        color: #555;
                        margin-bottom: 15px;
                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
            .el-button {
                padding: 12px 50px;
                font-size: 15px;
            }
        }
    } // 登录注册
    .login-main {
        background-color: #fff;
        .login-box {
            width: 50%;
            margin: 0 auto;
            margin-top: 20px;
            padding: 20px 0px 100px;
            .title {
                text-align: center;
                font-size: 24px;
                position: relative;
            }
            .title::after {
                position: absolute;
                left: 50%;
                bottom: -15px;
                width: 20px;
                height: 2px;
                margin-left: -10px;
                background: #999;
                content: '';
            }
            .el-button {
                width: 100%;
                padding: 16px 20px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .header {
        .header-main {
            padding: 5px 0 !important;
            .header-logo {
                /* width: 150px !important; */
                margin-top: .5rem;
                a {
                    height: auto !important;
                    img {
                        width: 100% !important;
                        margin-top: 0;
                    }
                }
            }
            .header-nav {
                border-left: none !important;
                margin-left: 0 !important;
            }
        }
    }
    .content-item {
        .row-list {
            margin: 0 !important;
            .el-col {
                padding: 0 !important;
            }
            .contentImg {
                max-height: 6rem;
                .item-category {
                    display: none !important;
                }
            }
        }
        .discription {
            margin-top: 10px !important;
            line-height: 1.5;
            h2 {
                font-size: 16px !important;
            }
            .post-meta {
                position: relative !important;
                .author {
                    display: none !important;
                }
            }
        }
    }
    .top-ads {
        .el-carousel__container {
            height: 8rem !important;
            img {
                height: auto !important;
            }
        }
    }
    .main-list {
        padding: 0 !important;
        .article-list {
            padding: 0 10px !important;
        }
    }
    .footer {
        display: none !important;
    }
    .page-component-up {
        display: none !important;
    }
    .contentContainer {
        .mainbody {
            padding: 10px 0px 10px;
            .main-list {
                .cate-pannle-menu {
                    display: none !important;
                }
            }
        }
        .content-detail {
            .hentry {
                padding: 10px !important;
            }
            .meta-bottom {
                margin-top: 20px;
                margin-bottom: 25px;
                .meta-tags {
                    margin-bottom: 20px;
                }
            }
            .share-group {
                text-align: center !important;
            }
            .random-articls {
                .contentImg {
                    height: 5rem !important;
                }
            }
        }
        .login-main {
            .login-box {
                width: 80%;
            }
        }
    }
}